{% extends 'base.html.twig' %}

{% block title %}Modifier une danse{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier une danse</h1>

    <div class="row justify-content-center">
        <div class="col-8 border border-secondary rounded m-3 p-3">
            {{ include('danse/_form.html.twig', {'button_label': 'Valider'}) }}
            {{ include('danse/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="m-3">
        <a href="{{ path('danse_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>

{% endblock %}
